.nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  line-height: 2em;
  margin-bottom: 2em;
  background-color: black;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}

a:hover {
  color: red;
  cursor: pointer;
}

a:active {
  color: yellow;
}
